{% extends 'base.html' %}
{% block start %}
<form method="post">
    {% csrf_token %}
    <label class="form-label d-block mb-2">Select Role:</label>
    
    <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="role_seeker" value="seeker" checked>
        <label class="form-check-label" for="role_seeker">
            Seeker
        </label>
    </div>
    
    <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="role_educated" value="educated_provider">
        <label class="form-check-label" for="role_educated">
            Educated Service Provider
        </label>
    </div>
    
    <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="role_uneducated" value="uneducated_provider">
        <label class="form-check-label" for="role_uneducated">
            Uneducated Service Provider
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
</form>
  {%endblock%}