{% extends 'base.html' %}
{% block start %}
<div class="container mt-5">
  <form method="post" class="col-6 mx-auto card p-3 shadow-lg">
    {% csrf_token %}
     {%if messages%}
  {%for message in messages%}
  <div class="alert alert-primary">{{message}}</div>
  {%endfor%}
  {%endif%}
    <h1>Verify email</h1>
    <p>Enter the 6-digit code sent to your email.</p>
    <input type=" number" name="otp" maxlength="6" minlength="6" class ="form-control">
    <button type="submit" class="btn btn-primary">Verify</button>
    {% if expiry <= time%}
    <a href="{% url 'resend_otp' uidb64=uidb64%}" >Resend otp</a>
    {%endif%}
  </form>
</div>
{% endblock %}
